*{
    $mainFont: 'Edu NSW ACT Foundation', cursive;
    box-sizing: border-box;
    
}

body{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-position: relative;
    background-size: initial; 
}

body nav a img{
    width: 100%;
    height: auto;
    margin-left: 0%;
}

h1,
h2,
h3{
    color: $textoBlanco;
    font-weight: 400;
}

p{
    color: $textoNegro;
    font-weight: 300;
    font-size: 18px;
    line-height: $separarRenglones;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

footer{
    padding: 20px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorSecundario;
}
    footer div a:hover{
        width: 20px;
        color: $textoBlanco
        
    }

.bgc-orangered{
    background-color: orangered;
}

.bg-orangered{
    color: $textoFooter;
}

.degrades{
    background: linear-gradient(to right, rgb(255, 0, 0), rgba(255, 68, 0, 0.575));
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    color: white;

        &:hover{
            color: red;
        }
}

@media (width < 480px){
    .titleContacto{
        font-size: 1.5em;
    }
    .textoContacto{
        font-size:0.9em;
    }
}

@media (width < 335px){
    .textoContacto{
        display: none;
    }
}
.mapa-chico{
    width: 100vw;     
}

.error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.error404-img{
    margin-top: 2rem;
    width: 40vw;
    height: 60vh;
    margin-bottom: 2rem;
}

.video-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}