#intro{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 10px 60px;
    height: auto;
}
    #intro p{
        color: $textoBlanco;
    }

footer{
    @include footer(flex,space-between)
}


.header--img{
    display: grid;
    column-gap: 2.5px;
    justify-items: center;
    grid-template-columns: repeat(2fr, 2fr, 2fr, 2fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas: 
    "pastas costilla pizza empanadas";
}   
    .pastas{
        grid-area: pastas;
        width: 25vw;
        height: 55vh;
    }  

    .costilla{
        grid-area: costilla;
        width: 25vw;
        height: 55vh;
    }
    
    .pizza{
        grid-area: pizza;
        width: 25vw;
        height: 55vh;
    }
    
    .empanadas{
        grid-area: empanadas;
        width: 23vw;
        height: 55vh;
    }

.main-index{
    display: grid;
    column-gap: 4px;
    justify-content: space-between;
    grid-template-columns: repeat(2fr, 2fr, 2fr, 2fr);
    grid-template-rows: repeat(2fr);
    grid-template-areas:
    "titulo titulo titulo titulo"
    "apartado1 apartado3 apartado3 apartado2"
    "video video video video";

    .titulo-main{
        grid-area: titulo;
        margin-top: 10px;
        padding-bottom: 30px;
    }
    .apartado1{
        grid-area: apartado1;
    }
    .apartado2{
        grid-area: apartado2;
    }
    .apartado3{
        grid-area: apartado3;
    }
    .video-index{
        grid-area: video;
        padding-top: 70px;
    }
}

@media (width < 768px){
    .header--img{
        display: grid;
        grid-template-columns:20% repeat(2,1fr);
        grid-template-rows: 80px repeat(2,300px);
        gap: 0.5px;
        grid-template-areas:
        "pastas costilla"
        "empanadas pizza";
    }
        .pastas{
            grid-area: pastas;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        .costilla{
            grid-area: costilla;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        .pizza{
            grid-area: "pizza";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .empanadas{
            grid-area: "empanadas";
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .pastas{
            width: 50vw;
            height: 60vh;
            margin: 0.6rem;
            margin-left: 15.7rem;
        }
        .costilla{
            width: 48vw;
            height: 60vh;
            margin: 10px;
            margin-left: 14.9rem;
        }
        .empanadas{
            width: 50vw;
            height: 60vh;
            margin: 10px;
            margin-top: 16.5rem;
            margin-left: 15.7rem;
        }
        .pizza{
            width: 48vw;
            height: 60vh;
            margin: 10px;
            margin-top: 16.5rem;
            margin-left: 14.9rem;
        }
    .main-index{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        font-size: 3rem;
    }
        .apartado1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        .apartado2,
        .apartado3{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }
}

@media (width < 480px){
    .header--img{
        display: grid;
        grid-template-columns:20% repeat;
        grid-template-rows: 80px repeat;
        gap: 0.5px;
        grid-template-areas:
        "costilla ."
        "costilla .";
    }
        .costilla{
            grid-area: costilla;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 25rem;
            width: 90vw;
            height: 90vh;
        }
        .pastas,
        .empanadas,
        .pizza{
            display: none;
        }

    .main-index{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3rem;
        
    }
        .apartado1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }

        .apartado2,
        .apartado3{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }
}   