$mainFont: 'Edu NSW ACT Foundation', cursive;

$colorPrincipal: orangered;
$colorSecundario: black;
$textoNegro: black;
$textoBlanco: white;
$textoFooter: orangered;
$textoResponsive: font-size 13px;
$separarRenglones: line-height 22px;